{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ezra Stark Black Box Investigation</title>
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Diplomata+SC&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Diplomata+SC&display=swap" rel="stylesheet">
</head>
  <body style="background-color:LightCoral;">
    <h1>Black Box Investigation</h1>
<h2>By Ezra Stark</h2>
<p id="">The Mystery Black Box was created sometime in the late 2000’s by Kevin Sinusas. It has been opened since but only by him. The black box has three main observable components including but not limited to the box itself, a funnel on top, and a spout at the bottom. As part of the Cyan Team in class 4b it is my job to understand the workings of the Mystery Black Box. </p>
<img src="{% static 'core/IMG_2753.JPG' %}" alt="The Mystery Black Box" style="width:500px;height:350px;">
<h2>Claim</h2>
<p>The Mystery Black Box contains a tipping bucket and overflow container.</p>
<h2>Evidence</h2>
<p>We used the large graduated cylinder to measure input water and poured back into the graduated cylinder to measure output. We first tested the original black box then went on to test the model. The model was meant to emulate the results as close as possible but that didn’t quite go as planned.
</p>
<h2>Original Black Box Data</h2>

<table>
<table style="width:100%">
  <tr>
    <th>Trial Number</th>
    <th>Water Input (mL)</th>
    <th>Water Output (mL)</th>
  </tr>
  <tr>
    <td>1</td>
    <td>1000</td>
    <td>0</td>
  </tr>
  <tr>
    <td>2</td>
    <td>1000</td>
    <td>712</td>
  </tr>
 <tr>
    <td>3</td>
    <td>800</td>
    <td>450</td>
  </tr>
 <tr>
    <td>4</td>
    <td>800</td>
    <td>630</td>
  </tr>
 <tr>
    <td>5</td>
    <td>800</td>
    <td>870</td>
  </tr>
 <tr>
    <td>6</td>
    <td>880</td>
    <td>890</td>
  </tr>
 <tr>
    <td>7</td>
    <td>1000</td>
    <td>530</td>
  </tr>
</table>
<h2>Model Black Box Data</h2>
<p>We constructed a physical model based on our team's idea of the Mystery Black Box. The model was constrcuted using cardboard and recycled parts from previous Black Box models. These materials were very easy to build with and, in person, are the best way to understand our idea of the black box. Where the physical model is limited however, is in actual operation. Our black box model did not hold up well to water and didn't run very well at all. </p>
<table>
<table style="width:100%">
  <tr>
    <th>Trial Number</th>
    <th>Water Input (mL)</th>
    <th>Water Output (mL)</th>
  </tr>
  <tr>
    <td>1</td>
    <td>300</td>
    <td>0</td>
  </tr>
  <tr>
    <td>2</td>
    <td>700</td>
    <td>0</td>
  </tr>
 <tr>
    <td>3</td>
    <td>500</td>
    <td>0</td>
  </tr>
 <tr>
    <td>4</td>
    <td>300</td>
    <td>1200</td>
  </tr>
 <tr>
    <td>5</td>
    <td>400</td>
    <td>0</td>
  </tr>
</table>

<h2>Reasoning, Part I</h2>
<p>The tipping bucket is a large device that tips all of the water inside of it out when the water reaches a certain amount. The overflow container is a container that overflows the water above a certain point. </p>
<h2>Reasoning, Part II</h2>
<p>The tipping bucket explains more water coming out than being poured in (See row 2 of the black box data)The container that overflows at a certain amount explains less water coming out than going in. (See row 5 of the Original Black Box data)</p>
<h2>Reasoning, Part III</h2>
<p>If there was only a tipping bucket then the data would not have less coming out than coming in because that would mean water is somehow staying in the tipping bucket. If there was only an overflow container then at a certain point the amount of water going out would equal the amount of water going in.</p>


<h2>3D MODELING, ANIMATION, AND AUGMENTED REALITY</h2>
<p> To better demonstrate our claim of what is inside the mystery black box, we created digital 3d models using autodesk maya.
</p>
<img src="{% static 'core/MBB1.jpg' %}" alt="A 3d model of the Black Box" style="width:600px;height:380px;">
<p>I animated a few of the functions of the model in maya as well. You can find the link to my animated model at the bottom of the page. The animated 3d model can be viewed in augmented reality using MergeEDUs' object viewer or through adobe aero(links at the bottom), to get a good grasp on the functions of the Mystery Black Box. </p>
<h2>PERSONAL REFLECTION</h2>
<p>I think building the physical model went rather well. </p>
<img src="{% static 'core/IMG_3993.jpg' %}" alt="Creating the model box" width="600" height="380">
<p>Collaboration contracts were interesting, but didn't really get used and weren't too helpful, because the rules we use to respect each other are more neccesseties than gifts if we wanted to get any work done.</p>
<img src="{% static 'core/collab.jpg' %}" alt="Unspoken Collaboration" width="600" height="380">
<p>I was pleased with how the result turned out, but the model didn't hold up well to actual testing with water. I really didn't like how cloud based saving my work was, so I will try to get my hands on a laptop as soon as possible. I'd like to give strong thanks to w3 schools, and also Adham Dweck for helping me out (put us in a group please???:)</p>
<img src="{% static 'core/adham.jpg' %}" alt="funny guy adham" width="300" height="190">
<h2>Links</h2>
<img src="{% static 'core/QR.png' %}" alt="QR code to my AR model" width="200" height="200">
<p>QR code for the adobe aero model</p>
<a href="https://www.w3schools.com/">Visit W3Schools.com!</a>
<p>w3 schools (great resource tysm)</p>
<a href="https://objects.mergeedu.com/link/6RKL5R">Link to MergeEDU animated AR model.</a>

</body>




</html>